# Игнорировать временные файлы
*.tmp
*.log
*.txt

# Игнорировать папки
node_modules/
ignored/

# Игнорировать файлы конфигурации
config.json
settings.json
tasks.json
launch.json

# Игнорировать все файлы конфигурации
.vscode/

# Игнорировать файл с данными о БД
.env