<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница с таблицей</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/single-styles.css">
    <link rel="stylesheet" href="./css/button.css">
</head>
<body>
    <h1>Страница с таблицей</h1>
    <table border="2">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>
        <tr>
            <td>Артемий</td>
            <td>Нарзиев</td>
        </tr>
        <tr>
            <td>Артемий</td>
            <td>Кошкин</td>
        </tr>
    </table><br>
    <a href="/" class="button">Вернуться на главную страницу</a>
</body>
</html>
