<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Главная страница></title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/droplist.css">
    <link rel="stylesheet" href="./css/links.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать в Web-tech Helper!</h1>
        <nav>
            <ul>
                <li><a href="#about">О сайте</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li class="dropdown">
                    <a href="#">Продукция для курсов</a>
                    <div class="dropdown-content">
                        <a href="/production1">Первый курс</a>
                        <a href="/production2">Второй курс</a>
                        <a href="/production3">Третий курс</a>
                        <a href="/production4">Четвертый курс</a>
                    </div>
                </li>
            </ul>
            <div class="profile-link">
                <a href="/profile/profile">Мой профиль</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="movies">
            <h2>Мой профиль</h2>
            <a href="/movies">Список фильмов</a>
        </section>
        <section id="pages">
            <h2>Посетите наши страницы!</h2>
            <a class="link-page" href="/input">Перейти на страницу с полем ввода</a><br>
            <a class="link-page" href="/table">Перейти на страницу с таблицей</a><br>
            <a class="link-page" href="/image">Перейти на страницу с картинкой</a>
        </section>
        <section id="about">
            <h2>О сайте</h2>
            <p>Это сайт для представления информации и материалов по всему курсу предмета Web-технологии</p>
        </section>
        <section id="services">
            <h2>Услуги</h2>
            <p>Здесь мы собрали конспекты всех лекций, практических занятий, лабораторных работ и материалов для подготовки к экзамену.</p>
        </section>
        <section id="contact">
            <h2>Контакты</h2>
            <p>Свяжитесь с нами!<br>
                <a class="link-contact"
                href="https://github.com/ZeroD1vision/Web-tech">Наш репозиторий Git</a><br>
                <a class="link-contact"
                href="https://t.me/+Yku9N_IK9mEzOTZi">Наш Telegram-канал</a><br>
                <a class="link-contact"
                href="mailto:anatolypozd739@gmail.com">Написать письмо администратору.</a>
            </p>
        </section>
    </main>
    <footer>
        <p>© 2025 Нарзиев Артемий</p>
    </footer>
</body>
</html>
