<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница с полем ввода</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/single-styles.css">
    <link rel="stylesheet" href="./css/button.css">
</head>
<body>
    <h1>Страница с полем ввода</h1>
    <form action="/submit" method="POST">
        <label for="input">Введите что-нибудь:</label>
        <input type="text" id="input" name="input" required>
        <button type="submit">Отправить</button>
    </form>
    <a href="/" class="button">Вернуться на главную страницу</a>
    </main>
    <footer>
        <p>© 2025 Нарзиев Артемий</p>
    </footer>
</body>
</html>
